<div class="card-container">
    <div class="card">
        <div class="card-title">
            <h4 style="text-align: center;margin: bottom 2px;;"><u>TO DO</u></h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="text-group m-3">
                    <label for="">Task :</label>
                    <textarea name="" id="" cols="30" rows="10" style="width: 80%; height: 50%;"></textarea><br>
                    <label for="">Time :</label>
                    <input type="date" class="form-label">
                    <button type="button" class="btn btn-success m-2">Submit</button><br><br>
                    <button type="button" class="btn btn-primary m-1" (click)="create()">Create</button>
                    <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>