<!-- <h2>My age is {{age}}</h2>
<h2>My name is {{name}}</h2>
<h2>My name is {{idnian}}</h2>
<h2>ages:{{ages}}</h2>
<h2 *ngFor="let age of ages">{{age}}</h2>
<ul>
    <li *ngFor="let state of states">{{state}}</li>
</ul>
<select>
    <option *ngFor="let city of cities">{{city}}</option>
</select> -->
<!-- <h1 *ngFor="let product of products">{{product.name}} {{product.price}}</h1> -->
<!-- <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
        </tr>
    </tbody>
</table> -->

<!-- <table border="3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Exp</th>
            <th>Package</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employe of employes">
            <td>{{employe.name}}</td>
            <td>{{employe.exp}}</td>
            <td>{{employe.package}}</td>
        </tr>
    </tbody>
</table> -->

<!-- <button (click)="submit()">Submit</button> -->
<!-- <input (keypress)="store()"> -->

<!-- <input type="text" [(ngModel)]="phone">
<h1>{{phone}}</h1> -->